<img src="/about.png" class="icon" alt="">

<h1>SWEET! ...YOU ARE ON YOUR OWN...THIS IS THE CASE OF UNEXPLAINED (spoiler alert: the case wasn't developed for humans to interact with and there are no safety measures in place)</h1>

<p> 
	ALL RIGHT, LETS MOVE ON. YOU'LL EXPLORE ONE OF THE GREAT MYSTERIES OF ANCIENT EARLANG AND OTHER PLANETS WHERE MAGIC HAPPENS REGARDLESS !

	TELL US JUST ONE GOOD THING YOU DID ON EARTH ? ...WELL, WE HAVE MIXED FEELINGS ABOUT WHAT YOU JUST SAID... SOO, MAYBE WE SHOULD EXPLAIN SOME OF THE FINER POINTS OF THE LAW ON ERLANG: if you don't want to use magic, feel free to go back to the <a href="/" title="">First Landing.</a> And don't confuse this magic with the magic we talked before.
</p>