<img src="/home.png" class="icon" alt="">

<h1>THIS IS FIRST LANDING </h1>

<p>
	Welcome to a World of Adventure, Text-Based Game in Ruby !
	
	 
	How this game has been made ? Glad you asked...No surprise there.
	It's magic, obviously. You can't orhestrate those things. Soon you'll find that in the world of Ruby, magic is an everyday occurrence.

	
	
	...Now we're going to enter hard mode here...It might sound a bit morbid, but that's just the life-and-death World of Adventure.

	OUR NAMES DON'T MATTER, NEITHER DOES YOURS...AND STRANGE AS IT SEEMS WE'RE HERE TO HELP !
	
	Please be seated to check out 
	the <a href="/about" title="">The Case of the Unexplained</a> 
</p>